.modal {
  position: relative;
}
.container {
  position: absolute;
  z-index: 1;
  width: 45rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -5.2rem);
}

.modal__containers {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 6rem;
}

@media screen and (max-width: 900px) {
  .container {
    width: 33rem;
  }
}

@media screen and (max-width: 450px) {
  .container {
    width: 21.5rem;
    transform: translate(-50%, -2%);
  }
}
