.modal__container  {
    position: relative;
    background-color: #fff;
    border-radius: 10px;
    border: 1px solid hsla(0, 0%, 48%, 0.12);
    
}

body {
    background-color: hsla(0, 0%, 48%, 0.092);
}